@{
    Layout = "_Layout";
}

<h2 class="mb-4">To Do List</h2>

<button class="btn btn-primary me-3" onclick="window.location.href = '/Items'">Items</button>
<button class="btn btn-primary me-3" onclick="window.location.href = '/Status'">Statuses</button>
<button class="btn btn-primary me-3" onclick="window.location.href = '/Categories'">Categories</button>