@{
    Layout = "_Layout";
}

@model ToDoList.Models.Status

<h4>Add a new status</h4>
@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)

    <input type="submit" value="Add new status" />
}
<p>@Html.ActionLink("Show all statuses", "Index")</p>