@{
    Layout = "_Layout";
}

@model ToDoList.Models.Status

<h2>Item Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.StatusId): @Html.DisplayFor(model => model.StatusId)</h3>
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>
<p>@Html.ActionLink("Edit Item", "Edit", new { id = Model.StatusId })</p>
<p>@Html.ActionLink("Delete Item", "Delete", new { id = Model.StatusId })</p>
<p>@Html.ActionLink("Back to list", "Index")</p>
