@using ToDoList.Models
@{
    Layout = "_Layout";
}

<h2 class="mb-4">Statuses</h2>

<div id="itemsTable" data-list="{&quot;valueNames&quot;:[&quot;name&quot;,&quot;category&quot;,&quot;status&quot;],&quot;page&quot;:10,&quot;pagination&quot;:true}">
    <div class="row g-3 justify-content-between mb-4">
        <div class="col-auto">
            <div class="d-md-flex justify-content-between">
                <div>
                    <button class="btn btn-primary me-4" onclick="window.location.href = '/Items/Create'">
                        <span class="fas fa-plus me-2"></span>
                        Create new item
                    </button>
                    <button class="btn btn-primary me-4" onclick="window.location.href = '/Status/Create'">
                        <span class="fas fa-plus me-2"></span>
                        Create new status
                    </button>
                    <button class="btn btn-primary me-4" onclick="window.location.href = '/Categories/Create'">
                        <span class="fas fa-plus me-2"></span>
                        Create new category
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="table-responsive scrollbar mx-n1 px-1">
        <table class="table fs-9 mb-0 leads-table border-top border-translucent">
            <thead>
            <tr>
                <th class="white-space-nowrap fs-9 align-middle ps-0" style="max-width: 20px; width: 18px">
                    <div class="form-check mb-0 fs-8">
                        <input class="form-check-input" type="checkbox" data-bulk-select="{}" />
                    </div>
                </th>
                <th class="sort white-space-nowrap align-middle text-uppercase ps-0" scope="col" data-sort="name" style="width: 25%">Name</th>
                <th class="sort white-space-nowrap align-middle text-uppercase ps-0" scope="col" data-sort="status" style="width: 15%">Create date</th>
                <th class="sort text-end align-middle pe-0 ps-4" scope="col"></th>
            </tr>
            </thead>
            <tbody class="list" id="items-tables-body">
            @if (Model.Count == 0)
            {
                <h3>No Items have been added yet!</h3>
            }
            else
            {
                @foreach (Status item in Model)
                {
                    <tr class="hover-actions-trigger btn-reveal-trigger position-static">
                        <td class="fs-9 align-middle">
                            <div class="form-check mb-0 fs-8">
                                <input class="form-check-input" type="checkbox" data-bulk-select-row="{}"/>
                            </div>
                        </td>
                        <td class="contact align-middle white-space-nowrap ps-0">
                            <div class="d-flex align-items-center">
                                <div>
                                    <a class="fs-8 fw-bold" href="/Items/Details/@item.StatusId">@item.Name</a>
                                </div>
                            </div>
                        </td>
                        <td class="phone align-middle white-space-nowrap ps-4 border-end border-translucent fw-semibold text-body-highlight">
                            {Jan 01, 00:00 PM}
                        </td>
                        <td class="align-middle white-space-nowrap text-end pe-0 ps-4">
                            <div class="btn-reveal-trigger position-static">
                                <button class="btn btn-secondary fs-8" onclick="window.location.href += '/id'">View</button>
                            </div>
                        </td>
                    </tr>
                }
            }
            </tbody>
        </table>
    </div>
    <div></div>
</div>