@{
    Layout = "_Layout";
}

@model ToDoList.Models.Item

<h2>Are you sure you want to delete this?</h2>

@Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(model => model.Description);
@using (Html.BeginForm())
{
    <input type="submit" value="delete" />
}
@Html.ActionLink("Back to List", "Index");