@{
    Layout = "_Layout";
}

@model ToDoList.Models.Category
@using ToDoList.Models

<h2>Category Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>

@if (Model.Items.Count == 0)
{
    <h3>No items have been added to this category yet!</h3>
} 
else
{
    <h3>Items:</h3>
    <ul>
        @foreach (Item item in Model.Items)
        {
            <li>@Html.ActionLink($"{item.Description}", "Details", "Items", new { id = item.ItemId })</li>
        }
    </ul>
}

<p>@Html.ActionLink("Edit Category", "Edit", new { id = Model.CategoryId })</p>
<p>@Html.ActionLink("Delete Category", "Delete", new { id = Model.CategoryId })</p>
<p>@Html.ActionLink("Back to list", "Index")</p>